.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.input {
  max-width: 377px;
  margin-right: 12px;
}

.numbersContainer {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(min-content, 80px));
  gap: 78px 16px;
  max-width: 944px;
  padding: 48px 0 0;
  margin: 0 auto;
  list-style-type: none;
}
